In [1]:
#Q1. What are the three measures of central tendency?

In [2]:
# There are three main measures of central tendency:
# mode.
# median.
# mean.

In [3]:
#.Q2. What is the difference between the mean, median, and mode? How are they used to measure the
#central tendency of a dataset?

In [4]:
#Ans -The mean (average) of a data set is found by adding all numbers in the data set and then dividing by the 
#number of values in the set. The median is the middle value when a data set is ordered from least to
#greatest. The mode is the number that occurs most often in a data set.

In [7]:
#Q3.  Measure the three measures of central tendency for the given height data:

x=[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [8]:
import numpy as np

In [9]:
np.sum(x)

2832.3

In [15]:
np.mean(x)

177.01875

In [16]:
import pandas as pd
x=[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [34]:
pd.DataFrame(x)

        0
0   178.0
1   177.0
2   176.0
3   177.0
4   178.2
5   178.0
6   175.0
7   179.0
8   180.0
9   175.0
10  178.9
11  176.2
12  177.0
13  172.5
14  178.0
15  176.5

In [35]:
df=pd.DataFrame(x)

In [36]:
df.mode()

       0
0  177.0
1  178.0

In [42]:
#Q4.Q4. Find the standard deviation for the given data:

y=[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [49]:
np.std(y)

1.7885814036548633

In [50]:
#Q5. How are measures of dispersion such as range, variance, and standard deviation used to describe
#the spread of a dataset? Provide an example.

In [52]:
# Meaning of dispersion is spread of the data
# Two types to measure of the spread 1.variance 2.std deviation

In [53]:
# 1. Variance is also two types 
#a. Populatio Variance
#b. Sample varieance

In [54]:
# Measurement of Population Varience
#sigma2= [sametion(data point-Population Means)2 /Population Size] by this formula we can find Population 
# Variance

In [55]:
## Sample Varience 
# Formula  s2 =[Sametion(data points -sample mean)2  / n-1]

In [56]:
# Standard Deviation is also two types 
#a. Population STD Deviation
#b. Sample STD Deviation

In [57]:
#a. Population STD Deviation formula is Sigma=Under Root of Population variance

In [58]:
#b. Sample STD Deviation formula is S=under root of Sample Variance

In [59]:
#Q6. What is a Venn diagram?

In [60]:
# Ans A Venn diagram is an illustration that uses circles to show the relationships among things or 
# finite groups of things.

In [61]:
#Q7. . For the two given sets A = (2,3,4,5,6,7) & B = (0,2,6,8,10). Find:
# i. A intersetion B
# ii. AUB

In [63]:
# Ans . A Intersection B=(2,6)
#       AUB=(0,2,3,4,5,6,7,8,10)

In [64]:
#Q8. What do you understand about skewness in data?

In [65]:
#Ans Skewness is a measurement of the distortion of symmetrical distribution or 
#asymmetry in a data set. Skewness is demonstrated on a bell curve when data points are not distributed 
#symmetrically to the left and right sides of the median on a bell curve.

In [66]:
#Q9.  If a data is right skewed then what will be the position of median with respect to mean?

In [67]:
# Ans . If a data is right skewed then the position of median with respect to mean (mean>median)

In [68]:
#Q10. Explain the difference between covariance and correlation. How are these measures used in
# statistical analysis?

In [69]:
#Ans Covariance is an indicator of the extent to which 2 random variables are dependent on each other.
#A higher number denotes higher dependency. Correlation is a statistical measure that indicates how 
#strongly two variables are related.

In [70]:
# SUpose we have two type of data X & Y the We can find out the Co-varience by forfula 
# co-var(x,y)= sametion of[(data point of X-xmean)(data point of y-ymean) / n-1]

In [71]:
#Q11. . What is the formula for calculating the sample mean? Provide an example calculation for a
#dataset.

In [72]:
# Ans Suppose we have one data x then smple Mean =Sametion[sum of all number /all number]
# x=[1,2,3,4] then x mean =[(1+2+3+4)/4]

In [73]:
#Q12.  For a normal distribution data what is the relationship between its measure of central tendency?

In [74]:
# Ans Any normal distribution has a graph that is perfectly symmetric about a vertical line through its
#peak. Therefore, all measures of central tendency (most commonly, the mean, median, and mode)

In [75]:
#Q13. How is covariance different from correlation?

In [76]:
#Ans. Covariance is an indicator of the extent to which 2 random variables are dependent on each other.
#A higher number denotes higher dependency. 
#Correlation is a statistical measure that indicates how strongly two variables are related.

In [ ]:
#Q14.. How do outliers affect measures of central tendency and dispersion? Provide an example.